@import url('https://fonts.googleapis.com/css?family=Poppins:900i');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: 'Open Sans', 'Helvetica Neue', Arial, sans-serif;;
    display: inline-block;
    text-align: center;
}
body {
    margin: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
header {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.last-update {
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 25px;
    width: 200px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.number-reads {
    padding: 20px;
    margin: 20px 0;
    background: #fff;
    border-radius: 25px;
    width: 965px;
}
#login-form {position: absolute;}
#content-sign-in {position: relative;}
#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}
a {
    text-decoration: none;
    color: #111;
}
.form {
    background-color: #15172b;
    border-radius: 20px;
    box-sizing: border-box;
    height: 500px;
    padding: 20px;
    width: 420px;
    margin-top: 50px;
    position: relative;
}
.title {
    color: #eee;
    font-family: sans-serif;
    font-size: 36px;
    font-weight: 600px;
    margin-top: 30px;
}
.subtitle {
    color: #eee;
    font-family: sans-serif;
    font-size: 20px;
    font-weight: 600px;
    margin-top: 10px;
}
.form-elements-container{
    width: 100%;
    height: 50px;
    position: relative;
}
.ic1 {
    margin-top: 40px;
}
.ic2 {
    margin-top: 30px;
}
.input {
    background-color: #303245;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    font-size: 18px;
    height: 100%;
    padding: 4px 20px 0;
    width: 100%;
}
.cut {
    background-color: #15172b;
    border-radius: 10px;
    height: 20px;
    left: 20px;
    position: absolute;
    top: -20px;
    transform: translateY(0);
    transition: transform 200ms;
    width: 90px;
}
.cut-short {
    width: 110px;
}
.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
    transform: translateY(8px);
}
.placeholder {
    color: #65657b;
    font-family: sans-serif;
    left: 20px;
    line-height: 14px;
    pointer-events: none;
    position: absolute;
    transform-origin: 0 50%;
    transition: transform 200ms, color 200ms;
    top: 20px;
}
.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}
.input:not(:placeholder-shown) ~ .placeholder {
    color: #808097;
}
.input:focus ~ .placeholder {
    color: #dc2f55;
}
.submit {
    background-color: #08d;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    color: #eee;
    cursor: pointer;
    font-size: 18px;
    height: 50px;
    margin-top: 38px;
    outline: 0;
    text-align: center;
    width: 100%;
}
.submit:active {
    background-color: #06b;
}
.logout-btn:hover {
    cursor: pointer;
}
.logout-btn {
    background: transparent;
    outline: none;
    position: relative;
    border: 2px solid #111;
    padding: 15px 50px;
    overflow: hidden;
}
.logout-btn:hover:before {opacity: 1;transform: translate(0, 0);}
.logout-btn:before {
    content: attr(data-hover);
    position: absolute;
    top: 1.1em; left: 0;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: .8em;
    opacity: 0;
    transform: translate(-100%, 0);
    transition: all .3s ease-in-out;
}
.logout-btn:hover a {
    opacity: 0;
    transform: translate(100%, 0);
}
.logout-btn a {
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: 800;
    font-size: .8em;
    transition: all .3s ease-in-out;
}
ul {
    list-style: none;
}
.body {
    display:  flex;
    flex-direction: row;
    justify-content: center;
}
.text {
    font-size: 20px;
}
.btn {
    margin-top: 20px;
}
.topnav {
    position: relative;
    overflow: hidden;
    background-color: #049faa;
    color: white;
    font-size: 1rem;
    padding: 5px;
    width: 100vw;
    margin-bottom: 10px;
}
#authentication-bar{
    position: relative;
    padding-top: 10px;
    padding-bottom: 10px;
    background: #fff;
    padding: 10px;
    border-radius: 25px;
    width: 200px;
}
#user-details{
    color: cadetblue;
}
.content {
    padding: 20px;
}
#table-container {
    transition: none;
    background: #fff;
    width: 50vw; /* Full width */
    height: 250vh; /* Full height */
    border-radius: 25px;
}
#table-container:hover {
    transform: none;
}
.chart-list {
    display: flex;
    justify-content: space-around;
    width: 90vw;
}
th {
    border-top-right-radius: 25px;
    border-top-left-radius: 25px;
}
.card {
    background-color: white;
    box-shadow: 2px 2px 12px 1px rgba(140,140,140,.5);
    padding: 5%;
    border-radius: 25px;
    display: block;
    transition: all .3s ease;
    width: 450px;
}
.card:hover {
    transform: scale(1.1);
}
.cards {
    width: 1000px;
    margin: 0 auto;
    margin-bottom: 10px;
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 2fr));
}
.reading {
    color: #193036;
    font-size: 40px;
}
.date-time{
    font-size: 0.8rem;
    color: #1282A2;
}
button {
    background-color: #049faa;
    color: #111;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
button:hover {
   opacity: 0.8;
}
.white {
    color: #fff;
}
.deletebtn {
    background: red;
}
.btn-display {
    display: flex;
    justify-content: center;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin-left: 10px;
    margin-top: 10px;
}
.ia {margin-left: 40px;}
.ib {margin-left: 50px;}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.check-input:checked + .slider {
    background-color: #2196F3;
}
.check-input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
}
.check-input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
table {
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
}   
tr, td {
    padding: 0.25rem;
}
tr:nth-child(even) {
    background-color: #f2f2f2
}
tr:hover {
    background-color: #ddd;
}
th {
    position: sticky;
    top: 0;
    background-color: #50b8b4;
    color: white;
}
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background: black;
    padding-top: 50px;
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    border-radius: 25px;
}
/* Style the horizontal ruler */
hr {
    border: 1px solid #f1f1f1;
    margin-bottom: 25px;
}
/* The Modal Close Button (x) */
.close {
    position: absolute;
    right: 35px;
    top: 15px;
    font-size: 40px;
    font-weight: bold;
    color: #f1f1f1;
}
.close:hover,
.close:focus {
    color: #f44336;
    cursor: pointer;
}
/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
    .cancelbtn, .deletebtn {
        width: 100%;
    }
}